@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@600&display=swap');


.App {
  width: 100%;
  height: 99.4vh;
}
.About {
  padding: 200px;
  padding-top: 100px;
  padding-bottom: 50px;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.NotFound {
  padding-top: 180px;
  padding-bottom: 50px;
  width: 100%;
}
.About-h {
  font-family: 'Assistant' !important;
  text-align: justify;
  text-align: center;
}
.NotFound-h {
  font-family: 'Assistant' !important;
  text-align: center;
  font-size: 60px;
  color: rgb(30,30,30);
}
.NotFound-a {
  font-family: 'Assistant' !important;
  text-align: center;
  font-size: 25px;
}
.About-p {
  font-family: 'Assistant' !important;
  line-height: 30px;
  text-align: justify;
}
 video {
   margin: 0;
   padding: 0;
  width: 100%;
  height: 100%;
  object-fit: cover !important;
}
.content {
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  flex-direction: row;
}
.content-center{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: 'Assistant';
  letter-spacing: 2px;
}
.logo{
  height: 90px;
  width: 90px;
}
.logo-about{
  height: 70px;
  width: 70px;
  margin-bottom: 70px;
  align-content: center;
  align-items: center;
}
.logo-login{
  height: 70px;
  width: 70px;
  margin-bottom: 30px;
  align-content: center;
  align-items: center;
}
.logo-top{
  height: 40px;
  width: 40px;
  margin-top: 25px;
}

.usulogo{
  height: 120px;
  width: 380px;
}
.main-h1{
  font-size: 70px;
  margin-bottom: 0px;
  padding: 0;
  font-family: Roboto;
}
.main-h3{
  margin-bottom: 60px;
  margin-top: 10px;
  font-size: 25px;
  font-family: Roboto;
}
.overlay{
  position: absolute;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
}
.atag{
  margin: 12px;
  margin-top: 17px;
  padding: 0px 7px 1px 7px;
  font-size: 15px;
  font-family: Assistant;
  font-weight: bold;
  color: black;
  font-weight: bold;
  text-decoration: none;
  background: rgb(255,255,255);
  border-radius: 20px;
}
.atag:hover{
  color: dodgerblue;
}
.green{
  color: limegreen;
  font-weight: bold !important;
  font-size: 12px !important;
}
.blue{
  color: blue;
  font-weight: bold !important;
  font-size: 12px !important;
}
.inline{
  display: inline !important;
}
.margin{
  margin: 0 !important;
  padding: 0 !important;
}
.space {
    margin-bottom: 5px !important;
    margin-top: 15px !important;
}
.dashcardspace {
  margin-bottom: 5px !important;
  margin-top: 5px !important;
}
.avatar {
  margin-bottom: 50px !important;
  margin-top: 15px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center !important;
  align-items: center !important;
}
.progress-bar{
  margin-top: 15px !important;
}
.font {
  font-family: 'Assistant' !important;
  font-size: 15px !important;
}
.space-file {
  margin-bottom: 5px !important;
  margin-top: 35px !important;
}
.divider{
  margin-bottom: 7px !important;
  margin-top: 8px !important;
}
.incorrect{
  font-size: 13px;
  color: red;
  text-align: center !important;
  margin: auto !important;
}
.h2{
  text-align: center !important;
  margin: auto !important;
  text-transform: uppercase;
  padding: 30px !important;
  color: black;
  font-family: 'Assistant' !important;
  font-size: 30px !important;
}

.mainchip{
  color: dodgerblue !important;
  font-family: 'Assistant' !important;
  font-size: 14px !important;
  font-weight: bold;
}
.datasetchip{
  color: tomato !important;
  font-family: 'Assistant' !important;
  font-size: 14px !important;
  font-weight: bold;
}
.datachip{
  color: darkorange !important;
  font-family: 'Assistant' !important;
  font-size: 13px !important;
  font-weight: bold;
}
.hyperchip{
  color: darkorange !important;
  font-family: 'Assistant' !important;
  font-size: 13px !important;
  font-weight: bold;
}

.title{
  color: black !important;
  font-family: 'Assistant' !important;
  font-size: 20px !important;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 10px;
}
.description{
  color: black !important;
  font-family: 'Assistant' !important;
  font-size: 14px !important;
  font-weight: normal;
  padding-left: 5px;
  padding-right: 5px;
}

.datechip{
  color: dimgray !important;
  font-family: 'Assistant' !important;
  font-size: 12px !important;
  font-weight: bold;
}
.errorchip{
  color: red !important;
  font-family: 'Assistant' !important;
  font-size: 14px !important;
  font-weight: bold;
}

.resultchip{
  color: deeppink !important;
  font-family: 'Assistant' !important;
  font-size: 13px !important;
  font-weight: bold;
}
.accuracychip{
  color: darkblue !important;
  font-family: 'Assistant' !important;
  font-size: 13px !important;
  font-weight: bold;
}
.cta {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 30px;
  margin-bottom: 10px;
}
.input{
  font-size: 5px !important;
  font-family: 'Assistant' !important;
}
.bottom{
  margin-bottom: 40px !important;
}
.fab{
  bottom:20px;
  right:30px;
  position: fixed !important;
  align-items: end;
  justify-content: end;
}
.section{
  margin-top: 40px !important;
  margin-bottom: 10px !important;
  font-size: 15px !important;
  color: black;
  font-family: 'Assistant' !important;
}
.dashchipsize{
  font-size: 13px !important;
}


body::-webkit-scrollbar       {background-color:#fafafa !important;width:8px !important}
body::-webkit-scrollbar-track {background-color:#fafafa !important}
body::-webkit-scrollbar-thumb {background-color:#b5b5b5 !important;border-radius:11px !important;border:0px solid #fafafa !important}
body::-webkit-scrollbar-thumb:hover {background-color:#9e9e9e !important}

.div::-webkit-scrollbar       {background-color:#fafafa !important;width:8px !important}
.div::-webkit-scrollbar-track {background-color:#fafafa !important}
.div::-webkit-scrollbar-thumb {background-color:#b5b5b5 !important;border-radius:11px !important;border:0px solid #fafafa !important}
.div::-webkit-scrollbar-thumb:hover {background-color:#9e9e9e !important}